.features-section {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #fff;
  }
  
  .feature-box {
    flex: 1 1 20%;
    text-align: center;
    max-width: 300px;
    padding: 20px;
    margin: 0 auto;
  }
  
  .feature-box img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
  
  .feature-box h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .feature-box p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #222;
    line-height: 1.6;
  }
  @media (max-width: 992px) {
  .feature-box {
    flex-basis: 40%;
  }
}

@media (max-width: 576px) {
  .feature-box {
    flex-basis: 80%;
    padding: 15px;
  }
  .features-section {
    padding: 20px 0;
  }
}