.contact-page {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  gap: 40px;
  background-color: #ffffff;
}

/* FAQ Section */
.faq-section {
  flex: 1;
  min-width: 300px;
}

.faq-section h2 {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 30px;
  text-align: center;
}

.faq-item {
  /* background-color: #f6fff2;
  border-left: 4px solid #b6e0b0; */
  box-shadow: #b6e0b0 0px 2px 8px 0px;
  padding: 25px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.faq-item summary {
    font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

.faq-item p {
  margin-top: 8px;
}

/* Form Section */
.form-section {
  flex: 1;
  min-width: 300px;
}

.form-section h2 {
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 30px;
    text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.name-fields {
  display: flex;
  gap: 12px;
}

.name-fields div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.recaptcha-placeholder {
  margin-top: 10px;
  padding: 16px;
  background-color: #eee;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
}

button {
  width:20% ;
  margin-top: 16px;
  padding: 12px;
  background-color: #01b40a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}
@media (max-width: 768px) {
  .contact-page {
    padding: 20px;
    gap: 30px;
  }
  .faq-section h2,
  .form-section h2 {
    font-size: 26px;
  }
  button {
    width: 100%;
    max-width: 250px;
  }
}

@media (max-width: 480px) {
  .name-fields {
    flex-direction: column;
  }
  .faq-item {
    padding: 20px;
  }
}