.carousel-container {
    width: 98%;
    overflow: hidden;
    margin: 20px auto;
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* Optional: On hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #555;         /* hover color */
  transform: scale(1.1);
}

/* Target the SVG arrow icon inside it */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; 
  color: black;
  font-weight: 800;
}
@media (max-width: 768px) {
  .carousel-container {
    width: 100%;
    margin: 15px 0;
  }
}

@media (max-width: 480px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 16px;
  }
}